*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.gameContainer{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}
.mario{
    background-image: url("mario.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 470px;
    left: 70px;
}
.Obstacle{
    background-image: url("enemy.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%;
    height: 15%;
    position: absolute;
    bottom: 95px;
    right: 0px;
}
.animateMario{
    animation: mario 0.8s linear;
}
.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}
.gameOver{
    position: relative;
    top: 65px;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
}
#scoreCount{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(106, 11, 11);
    font-family: sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}
@keyframes mario {
    0%{
        top: 490px;
    }
    50%{
        top: 300px;
        background-image: url("jummpingMario.png");
    }
    100%{
        top: 490px;
        background-image: url("mario.png");
    }
}

@keyframes obstacleAni {
    0%{
        left: 100vw;
    }
    100%{
        left: 0;
    }
}