.center{
    text-align: center;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin:auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}
.font-3{
    font-size: 3rem;
}
.absolute{
    position: absolute;
}